*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

#app {
  height: 100%;
  width: 100%;
}
